@import "../../../styles.scss";

.movieCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;

    &_conteudo {
        width: 90%;
        display: flex;
        flex-direction: row;
        
        .imgContainer {
            img {
                height: 100%;
                width: 250px;
            }
        }

        .descricaoContainer {
            width: 100%;
            background: linear-gradient(180deg, $cor-background 0%, $cor-background 30%, $cinza 30%, $cinza 70%, $cinza 70%, $cinza 100%);
            padding: 45px 15px 0;

            .descricaoHeader{
                height: 100px;
                display: flex;
                flex-direction: row;
                margin-bottom: 45px;

                .circleVote{
                    width: 100px;
                    height: 100px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 10px;
                    border: 5px solid $cor-background;
                    border-radius: 100px;
                    background-color: $cor-text;
                    margin-right: 20px;

                    .insideCircle{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;
                        height: 90px;
                        border-radius: 90px;
                        background-color: $cor-background;

                        span{
                            font-weight: 500;
                            font-size: 2rem;
                            color: $cor-text;
                        }
                    }
                }

                .movieTitle{
                    display: flex;
                    flex-direction: column;

                    :first-child{
                        color: $cor-text;
                        font-size: 3.125rem;
                        margin-bottom: 20px;
                    }

                    :last-child{
                        color: $cinza-medium;
                        font-size: 1.125rem;
                    }
                }
            }

            .descricaoBody{
                padding: 0px 15px;

                .sinopse{
                    color: $cinza-hard;
                    font-size: 1.125rem;
                    text-align: justify;
                }

            }

            .listaGenero{
                display: flex;
                flex-direction: row;
                position: relative;
                top: 20px;
                padding: 0px 15px;

                .generoItem{
                    padding: 5px 10px;
                    margin-right: 10px;
                    border: 1px solid $cor-background;
                    background-color: white;
                    border-radius: 20px;

                    p{
                        color: $cor-background;
                    }
                }
            }
        }
    }
}